/* Intro to CSS */

body {
	font-family: sans-serif;
    background-color: grey;
	color: white;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;

}
h1 {
	font-size: 2em;

}
em{
	font-size: 0.5em;

}
h2{	font-weight: normal;
	color: black;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: -0.05em;
}

p { max-width: 50em;
	text-indent: 2em;
	
}
li{ font-size: 1em;
 }

ul{ color: lightgrey;
	font-style: italic;

 }